@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* PALLETE */
    --main-dark-color: 200;
    --secondary-main-dark-colour: 190;
    --third-main-dark-colour: 180;

    /* DARK THEME */
    --background: var(--main-dark-color) 84% 4.9%;
    --foreground: var(--third-main-dark-colour) 40% 98%;

    --card: var(--main-dark-color) 84% 4.9%;
    --card-foreground: var(--third-main-dark-colour) 40% 98%;

    --popover: var(--main-dark-color) 84% 4.9%;
    --popover-foreground: var(--third-main-dark-colour) 40% 98%;

    --primary: var(--third-main-dark-colour) 40% 98%;
    --primary-foreground: var(--main-dark-color) 47.4% 11.2%;

    --secondary: var(--secondary-main-dark-colour) 32.6% 17.5%;
    --secondary-foreground: var(--third-main-dark-colour) 40% 98%;

    --muted: var(--secondary-main-dark-colour) 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: var(--secondary-main-dark-colour) 32.6% 17.5%;
    --accent-foreground: var(--third-main-dark-colour) 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--third-main-dark-colour) 40% 98%;

    --border: var(--secondary-main-dark-colour) 32.6% 17.5%;
    --input: var(--secondary-main-dark-colour) 32.6% 17.5%;
    --ring: var(--secondary-main-dark-colour) 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
